*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  background-color: whitesmoke; }

html {
  font-size: 62, 5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.3; }

.navigation {
  font-weight: 500;
  font-style: italic;
  font-size: 1.4rem;
  color: white;
  text-shadow: 1px 1px black; }
  .navigation__item::before {
    font-weight: 700; }
  .navigation__logo {
    text-align: center; }

.titulo {
  font-family: 'Montserrat', sans-serif; }
  .titulo__header {
    margin: 0;
    font-size: 4rem;
    font-style: italic;
    color: whitesmoke;
    line-height: normal; }
    @media (max-width: 1200px) {
      .titulo__header {
        text-align: center;
        font-size: 3rem; } }
  .titulo__eslogan {
    font-weight: 500;
    color: whitesmoke;
    text-align: right; }
    @media (max-width: 1200px) {
      .titulo__eslogan {
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
        width: 100%; } }

.cursos__titulo {
  font-style: italic;
  font-size: 3rem;
  text-align: right; }

.cursos__nav-titulo {
  font-style: italic;
  text-align: right;
  line-height: 1.2; }

.cursos__nav-item {
  text-align: right; }

.cursos__card-curso h2 {
  font-style: italic;
  padding-left: 1.5rem; }

.cursos__card-fecha p {
  font-weight: 700; }

.cursos__card-fecha a {
  font-weight: 500; }

.header {
  padding: 0 3rem;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Img/header-campo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10rem; }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #004d7a99, #00879399, #00bf7299, whitesmoke);
    z-index: 1; }
  @media (max-width: 1400px) {
    .header {
      padding: 0 1rem; } }

.banderas {
  position: absolute;
  z-index: 150; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5; }
  .hero__logo {
    display: flex; }
    .hero__logo img {
      max-width: 20rem; }
    @media (max-width: 1200px) {
      .hero__logo {
        padding-inline: 25%;
        justify-content: center;
        align-items: center; } }
    @media (max-width: 900px) {
      .hero__logo {
        padding: 0rem;
        width: 100%; }
        .hero__logo img {
          padding: 3rem; } }
  @media (max-width: 1200px) {
    .hero {
      padding: 0rem;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem; }
  .titulo h1 {
    font-size: 4rem;
    text-shadow: 1px 1px 3px black; }
  @media (max-width: 900px) {
    .titulo {
      width: 100%;
      align-items: center;
      margin: 0; } }

.footer {
  background-color: #272727;
  height: 60vh;
  width: 100%;
  bottom: 0;
  padding: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer div {
    border: 2px gray dashed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer div p {
      color: gray;
      font-weight: 700; }

.cursos {
  bottom: 0;
  padding: 3rem;
  position: relative;
  height: 100vh; }
  @media (max-width: 900px) {
    .cursos {
      padding: 10px;
      height: auto; } }
  .cursos__titulo {
    width: 20rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
    z-index: 1;
    position: relative; }
  .cursos__titulo::before {
    content: "";
    position: absolute;
    background-color: red;
    right: 0;
    top: 0;
    margin-top: 10%;
    z-index: -1;
    height: 35%;
    width: 80%; }
  .cursos__container {
    display: flex;
    height: 100%;
    width: 85%;
    margin: 0 auto; }
    @media (max-width: 1200px) {
      .cursos__container {
        width: 100%; } }
  .cursos__nav {
    justify-self: center; }
    .cursos__nav-list {
      list-style: none; }
    .cursos__nav-item-link {
      text-decoration: none;
      color: black;
      transition: all 0.2s; }
    .cursos__nav-item-link:hover {
      padding-right: 1rem;
      font-weight: 700;
      font-style: italic; }
    .cursos__nav-item-link-active {
      text-decoration: none;
      color: black;
      padding-right: 1rem;
      font-weight: 700;
      font-style: italic; }
    @media (max-width: 1200px) {
      .cursos__nav {
        display: none; } }
  .cursos__cards {
    padding-top: 3rem;
    margin-left: 1rem;
    background-color: white;
    position: relative;
    overflow-y: scroll; }
    @media (max-width: 900px) {
      .cursos__cards {
        overflow: hidden;
        margin: 0; } }
    .cursos__cards hr {
      border: none;
      height: 1px;
      margin: 0 3rem 0 3rem;
      background-color: red; }
  .cursos__card {
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: 100%;
    padding: 1rem;
    background-color: white; }
    .cursos__card:not(:last-child) {
      margin-bottom: 0.5arem; }
    .cursos__card-curso {
      width: 85%; }
      .cursos__card-curso h2 {
        padding-left: 1.5rem;
        margin-bottom: 1rem; }
      .cursos__card-curso p {
        padding-bottom: 0.5rem; }
    .cursos__card-fecha {
      display: flex;
      padding: 0 1rem 0 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border: solid 0.15rem black; }
      .cursos__card-fecha a {
        text-decoration: none;
        padding: 0.2rem 1rem;
        color: red;
        cursor: pointer;
        display: block;
        position: relative;
        border: 2px solid red;
        box-shadow: 0.3em 0.3em 0 0 red, inset 0.3em 0.3em 0 0 red;
        transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1) 0s; }
        .cursos__card-fecha a:hover {
          color: whitesmoke !important;
          background-color: transparent;
          text-shadow: #5e005e;
          box-shadow: 0 0 0 0 red, inset 6em 3.5em 0 0 red; }
    @media (max-width: 900px) {
      .cursos__card {
        flex-direction: column;
        height: auto; } }

.docentes {
  bottom: 0;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .docentes__container {
    height: 100%;
    width: 85rem;
    display: flex;
    justify-content: space-between; }
  .docentes .cursos__cards {
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 75%; }
    .docentes .cursos__cards .cursos__card-curso {
      flex-direction: column;
      width: auto; }
    .docentes .cursos__cards .cursos__card-fecha {
      height: 100%;
      padding: 1rem;
      width: auto; }
    @media (max-width: 900px) {
      .docentes .cursos__cards {
        display: none; } }
  .docentes__datos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%; }
    .docentes__datos img {
      max-width: 75%; }
    .docentes__datos-texto h4 {
      font-size: 1.2rem; }
    .docentes__datos-texto h5 {
      font-size: 1rem; }
    .docentes__datos-texto p {
      font-size: 0.8rem;
      margin-bottom: 2rem; }
    @media (max-width: 900px) {
      .docentes__datos {
        width: 100%;
        padding: 0 10px; } }

.info {
  bottom: 0;
  padding: 3rem;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .info div {
    border: 2px gray dashed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: none;
  background-color: orangered;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media (max-width: 1200px) {
    .navigation__button {
      display: block; } }

.navigation__background {
  height: 3rem;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: linear-gradient(to bottom, #272727, rgba(39, 39, 39, 0.3), rgba(39, 39, 39, 0));
  z-index: 1000;
  transition: all 0.5s; }
  @media (max-width: 1200px) {
    .navigation__background {
      position: fixed;
      background-color: #272727;
      display: block; } }

.navigation__checkbox:checked ~ .navigation__background {
  height: 100vh; }

.navigation__bar {
  position: absolute;
  top: 0;
  width: 90vw;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1500; }
  @media (max-width: 1200px) {
    .navigation__bar {
      width: 100vw; } }

.navigation__logo {
  width: 25rem;
  border-right: 0.15rem solid white;
  display: flex;
  justify-content: center;
  align-self: center; }
  .navigation__logo img {
    width: 100%;
    display: none;
    max-width: 2rem;
    margin-right: 1rem; }
  @media (max-width: 1200px) {
    .navigation__logo {
      border: 0; } }

.navigation__links {
  position: relative;
  display: flex;
  list-style: none; }

.navigation__item {
  position: relative; }
  .navigation__item:not(:last-child) {
    margin-right: 2rem; }
  .navigation__item::before {
    content: "";
    position: absolute;
    margin-bottom: 0.4rem;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 32%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform cubic-bezier(0, 1, 1, 1) 0.7s; }
  .navigation__item:hover::before {
    transform: scaleX(1); }
  .navigation__item .navigation__submenu {
    background-image: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    padding-inline: 1rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform cubic-bezier(0, 1, 0, 1) 0.7s; }
    .navigation__item .navigation__submenu div {
      display: none; }
  .navigation__item:hover .navigation__submenu {
    position: absolute;
    transform: scaleY(1); }
    .navigation__item:hover .navigation__submenu div {
      display: block; }

.navigation__link {
  text-decoration: none;
  padding: 0 0.2rem 0 0.5rem;
  color: white;
  position: relative;
  z-index: 10; }

.navigation__submenu div li {
  list-style: none;
  line-height: 1.5rem;
  cursor: pointer; }
  .navigation__submenu div li:not(:last-child) {
    margin-bottom: 1rem; }
  .navigation__submenu div li:hover .nombre {
    display: inline-block; }

.navigation__submenu div li a {
  font-size: 1rem;
  font-weight: 200;
  font-style: normal;
  text-decoration: none;
  color: white; }
  .navigation__submenu div li a:hover {
    font-weight: 400;
    font-style: italic; }

@media (max-width: 1200px) {
  .navigation {
    padding: 0rem;
    width: 100%; }
    .navigation__links {
      width: 5px; }
    .navigation__checkbox:checked ~ .navigation__bar > .navigation__links {
      width: 40px; } }

.nombre {
  position: absolute;
  display: inline;
  display: none;
  left: 100%; }

.sticky {
  position: fixed;
  height: 3.5rem;
  background-color: #272727;
  border-bottom: solid 1.5px rgba(255, 0, 0, 0.8);
  z-index: 1000; }
  @media (max-width: 1200px) {
    .sticky {
      height: 3rem; } }
  .sticky__logo {
    border-right: 0.15rem solid white;
    z-index: 10; }
    .sticky__logo img {
      display: block; }
